.container {
	display: flex;
	justify-content: center;

	min-height: 500px;
	gap: 4rem;
}
.compcontainer{
	display: flex;
	justify-content: center;
	align-items: end;
	min-height: 500px;
	gap:4rem;
	
}
button {
	font-size: 2rem;
     
	border: none;
	cursor: pointer;
}
p{

    font-size:5rem;
}
.viewPlayer{
	font-size: 1rem;
	
}
.viewComp{
	font-size: 1rem;
}
.view{
	display: flex;
	gap: 2rem;
}

.title{
	display: flex;
	justify-content: center;
	
}
h1{
	background-color: black;
	color: white;
	text-align: center;
	
}
.main_container{
	display: flex;
	justify-content: center;
	gap: 4em;
	margin: 5em;
	height: 422px;
	
}
.grey{
	background-color: rgb(4, 0, 0);
	width: 30em;
}
.score{
	float: right;
	margin-right: 4em;
}
.compScore{
	float: right;
	margin-right: 4em;
}
body{
	box-sizing: border-box;
}